* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: auto;
}

body {
    height: 350px;
    width: 450px;
    padding: 0px;
    font-family: sans-serif;
}

#input {
    height: 300px;
    width: 420px;
}

.form {
    padding: 8px;
}

.action {
    padding: 10px 0px 0px;
}

.type-box {
    padding: 10px 0px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0px;
    color: #387ed1;
}

.label {
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: #387ed1;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

.not-applicable {
    display: none;
}

.show {
    display: block;
    font-size: 22px;
}

.no-show {
    display: none;
}

.warning {
    display: grid;
    padding: 10px;
    place-items: center;
}

.forbidden {
    height: 250px;
    width: 250px;
}

.loader {
    margin: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #387ed1;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

